.books__button {
  height: 57px;
  width: fit-content;
  box-sizing: border-box;
  padding: 0 35px;
  background-color: transparent;
  border-radius: 50px;
  color: var(--card-blue);
  font-size: 24px;
  font-weight: 600;
}

.books__button:hover {
  background-color: var(--card-blue);
  color: var(--white);
}

.books__button:active {
  background-color: var(--white);
  color: var(--card-blue);
}
