.news__group-text {
  width: 627px;
  height: 270px;
  box-sizing: border-box;
  padding: 30px 59px 16px 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1277px) {
  .news__group-text {
    display: grid;
    /* align-content: baseline; */
    width: 440px;
    height: 270px;
    padding: 9px 28px 9px 28px;
  }
}
