.news__card {
  width: 1197px;
  height: 270px;
  display: flex;
  background-color: var(--card);
}

@media screen and (max-width: 1277px) {
  .news__card {
    display: grid;
    width: 440px;
    height: 620px;
  }
}
